#copy this file to /usr/lib/systemd/system
[Unit]
Description=photobooth service
After=syslog.target network.target


[Service]
ExecStart=/usr/bin/python3 pb.py
WorkingDirectory=/home/pi/photobooth
KillMode=control-group
Restart=no
TimeoutStopSec=10
User=pi

[Install]
WantedBy=multi-user.target
